<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.legend.dms">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ll"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/moduel_info" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />

<!--        <activity android:name="com.app.legend.dms.MainActivity"-->
<!--            android:label="@string/app_name"-->
<!--            >-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />-->

<!--            </intent-filter>-->
<!--        </activity>-->

<!--        <activity-alias-->
<!--            android:label="@string/app_name"-->
<!--            android:name="com.app.legend.dms.MainActivityAlias"-->
<!--            android:targetActivity="com.app.legend.dms.MainActivity"-->
<!--            android:enabled="true"-->
<!--            android:icon="@drawable/ll"-->
<!--            >-->

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN"/>-->
<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->

<!--        </activity-alias>-->


    </application>

</manifest>